# Acknowledgements

이 데이터는 인터넷 사이트를 통해 직접 수집된 데이터입니다.<br>
ML을 이용해 집 가격을 예측하는 모델을 완성해보세요.<br><br>

## 주택 가격 예측 모델 (회귀 모델)<br><br>

# File descriptions

- `train.csv` - 트레이닝 셋<br><br>
- `test.csv` - 테스트 셋<br><br>
- `sampleSubmission.csv` - 케글 점수 체크용 정답 데이터 셋<br><br>

# Data fields

- `ID` - 각 집의 고유한 번호<br><br>
- `ADDRESS` - 집의 주소<br><br>
- `SUBURB` - 동네 이름<br><br>
- `PRICE` - 가격<br><br>
- `BEDROOMS` - 침실의 갯수<br><br>
- `BATHROOMS` - 욕실의 갯수<br><br>
- `GARAGE` - 차고의 수<br><br>
- `LAND_AREA` - 토지 면적<br><br>
- `FLOOR_AREA` - 건물 면적<br><br>
- `BUILD_YEAR` - 건축년도<br><br>
- `CBD_DIST` - Central business district까지의 거리<br><br>
- `NEAREST_STN` - 근처 역 정보<br><br>
- `NEAREST_STN_DIST` - 근처 역까지 거리<br><br>
- `DATE_SOLD` - 판매된 날짜<br><br>
- `POSTCODE` - 우편번호<br><br>
- `LATITUDE` - 위도<br><br>
- `LONGITUDE` - 경도<br><br>
- `NEAREST_SCH` - 근교의 학교<br><br>
- `NEAREST_SCH_DIST` - 근교의 학교까지의 거리<br><br>
- `NEAREST_SCH_RANK` - 근교의 학교까지의 랭킹<br><br>

In [26]:
import pandas as pd
import numpy as np

In [27]:
home_df = pd.read_csv('./train.csv')
home_test_df = pd.read_csv('./test.csv')
# 타겟 데이터

In [28]:
target_df = home_df['PRICE']
target_df

0         520000
1         575000
2         760000
3        1230000
4        2010000
          ...
18505     475000
18506     485000
18507     642000
18508     491000
18509     490000
Name: PRICE, Length: 18510, dtype: int64

In [29]:
x_df = home_df.drop(['PRICE'], axis=1)
x_df

,ID,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,0,9 Crumlin Way,Ridgewood,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0
1,1,37 Sissinghurst Crescent,Landsdale,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN
2,2,24 Tees Court,Mindarie,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.0
3,3,31 Brentham Street,Mount Hawthorn,2,1,2.0,425,185,1938.0,3500,Leederville Station,1500,07-2020\r,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.0
4,4,46/1 Corkhill Street,North Fremantle,3,2,2.0,546,186,2004.0,12900,North Fremantle Station,800,10-2017\r,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,18505,36 Kentucky Boulevard,Hocking,4,2,2.0,533,198,2007.0,21200,Edgewater Station,4400,04-2018\r,6065,-31.764187,115.824151,WANNEROO SECONDARY COLLEGE,1.104533,131.0
18506,18506,10 Regatta Boulevard,Champion Lakes,3,2,2.0,344,237,2010.0,22100,Kelmscott Station,1900,06-2011\r,6111,-32.114990,115.992834,JOHN WOLLASTON ANGLICAN COMMUNITY SCHOOL,1.816768,40.0
18507,18507,145 Coolgardie Avenue,Redcliffe,3,1,1.0,1016,110,1953.0,8900,Bassendean Station,3100,01-2018\r,6104,-31.931320,115.950060,CYRIL JACKSON SENIOR CAMPUS,2.169696,NaN
18508,18508,12 Mckenzie Road,Samson,4,2,2.0,718,176,1988.0,14600,Murdoch Station,5400,03-2009\r,6163,-32.070861,115.793834,SETON CATHOLIC COLLEGE,0.208669,91.0
18509,18509,2 Lea Road,Koondoola,4,1,2.0,1030,109,1987.0,11600,Warwick Station,6400,09-2013\r,6064,-31.848240,115.864000,MERCY COLLEGE,0.618862,46.0

In [30]:
x_df['GARAGE'].fillna(x_df['GARAGE'].value_counts().idxmax(), inplace=True)

home_test_df['GARAGE'].fillna(home_df['GARAGE'].value_counts().idxmax(), inplace=True)
home_test_df

,ID,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,18510,29 Hartung Street,Mundaring,3,2,3.0,2199,159,1950.0,29600,Midland Station,15600,03-2019\r,6073,-31.899705,116.166117,MUNDARING CHRISTIAN COLLEGE,1.341198,NaN
1,18511,6 Kirkby Ridge,Salter Point,4,3,2.0,509,341,2001.0,8200,Canning Bridge Station,2000,08-2017\r,6152,-32.018620,115.858900,AQUINAS COLLEGE,0.882405,23.0
2,18512,45 Connelly Way,Booragoon,4,3,2.0,725,251,1982.0,10500,Bull Creek Station,2700,07-2018\r,6154,-32.042090,115.826290,APPLECROSS SENIOR HIGH SCHOOL,1.639635,34.0
3,18513,21 Torrenova Way,Sinagra,3,2,2.0,401,169,2009.0,24100,Joondalup Station,3500,05-2014\r,6065,-31.740480,115.804078,WANNEROO SECONDARY COLLEGE,2.199511,131.0
4,18514,4B Hilo Place,Warnbro,3,1,1.0,474,107,1993.0,43600,Warnbro Station,1100,03-2019\r,6169,-32.335790,115.765140,WARNBRO COMMUNITY HIGH SCHOOL,1.227092,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15141,33651,2 Danehill Place,Balga,3,1,2.0,801,108,1996.0,10800,Warwick Station,3900,04-2018\r,6061,-31.857800,115.834370,BALGA SENIOR HIGH SCHOOL,1.352896,NaN
15142,33652,19 Hester Street,Langford,4,2,2.0,530,158,1998.0,13100,Thornlie Station,854,11-2018\r,6147,-32.039400,115.951670,COMMUNICARE ACADEMY,1.526169,NaN
15143,33653,43 Hale Street,Watermans Bay,3,2,2.0,1072,148,1950.0,14700,Warwick Station,3800,02-2015\r,6020,-31.852980,115.757010,CARINE SENIOR HIGH SCHOOL,1.779797,47.0
15144,33654,980 Bushlands Road,Hovea,5,3,2.0,19996,396,1990.0,24900,Midland Station,10200,09-2012\r,6071,-31.878930,116.107640,HELENA COLLEGE,3.523922,78.0
15145,33655,9/3 Marsh Road,Mount Richon,3,1,1.0,5823,109,1990.0,27400,Armadale Station,688,03-2013\r,6112,-32.158325,116.018269,ARMADALE SENIOR HIGH SCHOOL,0.512639,NaN

In [31]:
x_df

,ID,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,0,9 Crumlin Way,Ridgewood,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0
1,1,37 Sissinghurst Crescent,Landsdale,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN
2,2,24 Tees Court,Mindarie,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.0
3,3,31 Brentham Street,Mount Hawthorn,2,1,2.0,425,185,1938.0,3500,Leederville Station,1500,07-2020\r,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.0
4,4,46/1 Corkhill Street,North Fremantle,3,2,2.0,546,186,2004.0,12900,North Fremantle Station,800,10-2017\r,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,18505,36 Kentucky Boulevard,Hocking,4,2,2.0,533,198,2007.0,21200,Edgewater Station,4400,04-2018\r,6065,-31.764187,115.824151,WANNEROO SECONDARY COLLEGE,1.104533,131.0
18506,18506,10 Regatta Boulevard,Champion Lakes,3,2,2.0,344,237,2010.0,22100,Kelmscott Station,1900,06-2011\r,6111,-32.114990,115.992834,JOHN WOLLASTON ANGLICAN COMMUNITY SCHOOL,1.816768,40.0
18507,18507,145 Coolgardie Avenue,Redcliffe,3,1,1.0,1016,110,1953.0,8900,Bassendean Station,3100,01-2018\r,6104,-31.931320,115.950060,CYRIL JACKSON SENIOR CAMPUS,2.169696,NaN
18508,18508,12 Mckenzie Road,Samson,4,2,2.0,718,176,1988.0,14600,Murdoch Station,5400,03-2009\r,6163,-32.070861,115.793834,SETON CATHOLIC COLLEGE,0.208669,91.0
18509,18509,2 Lea Road,Koondoola,4,1,2.0,1030,109,1987.0,11600,Warwick Station,6400,09-2013\r,6064,-31.848240,115.864000,MERCY COLLEGE,0.618862,46.0

In [32]:
x_df['NEAREST_SCH_RANK'].fillna(x_df['NEAREST_SCH_RANK'].mean(), inplace=True)

home_test_df['NEAREST_SCH_RANK'].fillna(home_df['NEAREST_SCH_RANK'].mean(), inplace=True)
home_test_df

,ID,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,18510,29 Hartung Street,Mundaring,3,2,3.0,2199,159,1950.0,29600,Midland Station,15600,03-2019\r,6073,-31.899705,116.166117,MUNDARING CHRISTIAN COLLEGE,1.341198,72.68705
1,18511,6 Kirkby Ridge,Salter Point,4,3,2.0,509,341,2001.0,8200,Canning Bridge Station,2000,08-2017\r,6152,-32.018620,115.858900,AQUINAS COLLEGE,0.882405,23.00000
2,18512,45 Connelly Way,Booragoon,4,3,2.0,725,251,1982.0,10500,Bull Creek Station,2700,07-2018\r,6154,-32.042090,115.826290,APPLECROSS SENIOR HIGH SCHOOL,1.639635,34.00000
3,18513,21 Torrenova Way,Sinagra,3,2,2.0,401,169,2009.0,24100,Joondalup Station,3500,05-2014\r,6065,-31.740480,115.804078,WANNEROO SECONDARY COLLEGE,2.199511,131.00000
4,18514,4B Hilo Place,Warnbro,3,1,1.0,474,107,1993.0,43600,Warnbro Station,1100,03-2019\r,6169,-32.335790,115.765140,WARNBRO COMMUNITY HIGH SCHOOL,1.227092,72.68705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15141,33651,2 Danehill Place,Balga,3,1,2.0,801,108,1996.0,10800,Warwick Station,3900,04-2018\r,6061,-31.857800,115.834370,BALGA SENIOR HIGH SCHOOL,1.352896,72.68705
15142,33652,19 Hester Street,Langford,4,2,2.0,530,158,1998.0,13100,Thornlie Station,854,11-2018\r,6147,-32.039400,115.951670,COMMUNICARE ACADEMY,1.526169,72.68705
15143,33653,43 Hale Street,Watermans Bay,3,2,2.0,1072,148,1950.0,14700,Warwick Station,3800,02-2015\r,6020,-31.852980,115.757010,CARINE SENIOR HIGH SCHOOL,1.779797,47.00000
15144,33654,980 Bushlands Road,Hovea,5,3,2.0,19996,396,1990.0,24900,Midland Station,10200,09-2012\r,6071,-31.878930,116.107640,HELENA COLLEGE,3.523922,78.00000
15145,33655,9/3 Marsh Road,Mount Richon,3,1,1.0,5823,109,1990.0,27400,Armadale Station,688,03-2013\r,6112,-32.158325,116.018269,ARMADALE SENIOR HIGH SCHOOL,0.512639,72.68705

In [33]:
x_df

,ID,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,0,9 Crumlin Way,Ridgewood,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.00000
1,1,37 Sissinghurst Crescent,Landsdale,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,72.68705
2,2,24 Tees Court,Mindarie,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.00000
3,3,31 Brentham Street,Mount Hawthorn,2,1,2.0,425,185,1938.0,3500,Leederville Station,1500,07-2020\r,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.00000
4,4,46/1 Corkhill Street,North Fremantle,3,2,2.0,546,186,2004.0,12900,North Fremantle Station,800,10-2017\r,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,18505,36 Kentucky Boulevard,Hocking,4,2,2.0,533,198,2007.0,21200,Edgewater Station,4400,04-2018\r,6065,-31.764187,115.824151,WANNEROO SECONDARY COLLEGE,1.104533,131.00000
18506,18506,10 Regatta Boulevard,Champion Lakes,3,2,2.0,344,237,2010.0,22100,Kelmscott Station,1900,06-2011\r,6111,-32.114990,115.992834,JOHN WOLLASTON ANGLICAN COMMUNITY SCHOOL,1.816768,40.00000
18507,18507,145 Coolgardie Avenue,Redcliffe,3,1,1.0,1016,110,1953.0,8900,Bassendean Station,3100,01-2018\r,6104,-31.931320,115.950060,CYRIL JACKSON SENIOR CAMPUS,2.169696,72.68705
18508,18508,12 Mckenzie Road,Samson,4,2,2.0,718,176,1988.0,14600,Murdoch Station,5400,03-2009\r,6163,-32.070861,115.793834,SETON CATHOLIC COLLEGE,0.208669,91.00000
18509,18509,2 Lea Road,Koondoola,4,1,2.0,1030,109,1987.0,11600,Warwick Station,6400,09-2013\r,6064,-31.848240,115.864000,MERCY COLLEGE,0.618862,46.00000

In [34]:
x_df['BUILD_YEAR'].fillna(x_df['BUILD_YEAR'].value_counts().idxmax(), inplace=True)

home_test_df['BUILD_YEAR'].fillna(home_df['BUILD_YEAR'].value_counts().idxmax(), inplace=True)
home_test_df

,ID,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,18510,29 Hartung Street,Mundaring,3,2,3.0,2199,159,1950.0,29600,Midland Station,15600,03-2019\r,6073,-31.899705,116.166117,MUNDARING CHRISTIAN COLLEGE,1.341198,72.68705
1,18511,6 Kirkby Ridge,Salter Point,4,3,2.0,509,341,2001.0,8200,Canning Bridge Station,2000,08-2017\r,6152,-32.018620,115.858900,AQUINAS COLLEGE,0.882405,23.00000
2,18512,45 Connelly Way,Booragoon,4,3,2.0,725,251,1982.0,10500,Bull Creek Station,2700,07-2018\r,6154,-32.042090,115.826290,APPLECROSS SENIOR HIGH SCHOOL,1.639635,34.00000
3,18513,21 Torrenova Way,Sinagra,3,2,2.0,401,169,2009.0,24100,Joondalup Station,3500,05-2014\r,6065,-31.740480,115.804078,WANNEROO SECONDARY COLLEGE,2.199511,131.00000
4,18514,4B Hilo Place,Warnbro,3,1,1.0,474,107,1993.0,43600,Warnbro Station,1100,03-2019\r,6169,-32.335790,115.765140,WARNBRO COMMUNITY HIGH SCHOOL,1.227092,72.68705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15141,33651,2 Danehill Place,Balga,3,1,2.0,801,108,1996.0,10800,Warwick Station,3900,04-2018\r,6061,-31.857800,115.834370,BALGA SENIOR HIGH SCHOOL,1.352896,72.68705
15142,33652,19 Hester Street,Langford,4,2,2.0,530,158,1998.0,13100,Thornlie Station,854,11-2018\r,6147,-32.039400,115.951670,COMMUNICARE ACADEMY,1.526169,72.68705
15143,33653,43 Hale Street,Watermans Bay,3,2,2.0,1072,148,1950.0,14700,Warwick Station,3800,02-2015\r,6020,-31.852980,115.757010,CARINE SENIOR HIGH SCHOOL,1.779797,47.00000
15144,33654,980 Bushlands Road,Hovea,5,3,2.0,19996,396,1990.0,24900,Midland Station,10200,09-2012\r,6071,-31.878930,116.107640,HELENA COLLEGE,3.523922,78.00000
15145,33655,9/3 Marsh Road,Mount Richon,3,1,1.0,5823,109,1990.0,27400,Armadale Station,688,03-2013\r,6112,-32.158325,116.018269,ARMADALE SENIOR HIGH SCHOOL,0.512639,72.68705

In [35]:
x_df

,ID,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,0,9 Crumlin Way,Ridgewood,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.00000
1,1,37 Sissinghurst Crescent,Landsdale,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,72.68705
2,2,24 Tees Court,Mindarie,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.00000
3,3,31 Brentham Street,Mount Hawthorn,2,1,2.0,425,185,1938.0,3500,Leederville Station,1500,07-2020\r,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.00000
4,4,46/1 Corkhill Street,North Fremantle,3,2,2.0,546,186,2004.0,12900,North Fremantle Station,800,10-2017\r,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,18505,36 Kentucky Boulevard,Hocking,4,2,2.0,533,198,2007.0,21200,Edgewater Station,4400,04-2018\r,6065,-31.764187,115.824151,WANNEROO SECONDARY COLLEGE,1.104533,131.00000
18506,18506,10 Regatta Boulevard,Champion Lakes,3,2,2.0,344,237,2010.0,22100,Kelmscott Station,1900,06-2011\r,6111,-32.114990,115.992834,JOHN WOLLASTON ANGLICAN COMMUNITY SCHOOL,1.816768,40.00000
18507,18507,145 Coolgardie Avenue,Redcliffe,3,1,1.0,1016,110,1953.0,8900,Bassendean Station,3100,01-2018\r,6104,-31.931320,115.950060,CYRIL JACKSON SENIOR CAMPUS,2.169696,72.68705
18508,18508,12 Mckenzie Road,Samson,4,2,2.0,718,176,1988.0,14600,Murdoch Station,5400,03-2009\r,6163,-32.070861,115.793834,SETON CATHOLIC COLLEGE,0.208669,91.00000
18509,18509,2 Lea Road,Koondoola,4,1,2.0,1030,109,1987.0,11600,Warwick Station,6400,09-2013\r,6064,-31.848240,115.864000,MERCY COLLEGE,0.618862,46.00000

In [36]:
x_df.isnull().sum()

ID                  0
ADDRESS             0
SUBURB              0
BEDROOMS            0
BATHROOMS           0
GARAGE              0
LAND_AREA           0
FLOOR_AREA          0
BUILD_YEAR          0
CBD_DIST            0
NEAREST_STN         0
NEAREST_STN_DIST    0
DATE_SOLD           0
POSTCODE            0
LATITUDE            0
LONGITUDE           0
NEAREST_SCH         0
NEAREST_SCH_DIST    0
NEAREST_SCH_RANK    0
dtype: int64

In [37]:
del_home_df = x_df.drop(['ADDRESS', 'ID', 'DATE_SOLD', 'SUBURB'], axis=1)

del_home_test_df = home_test_df.drop(['ADDRESS', 'ID', 'DATE_SOLD', 'SUBURB'], axis=1)
del_home_test_df

,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,3,2,3.0,2199,159,1950.0,29600,Midland Station,15600,6073,-31.899705,116.166117,MUNDARING CHRISTIAN COLLEGE,1.341198,72.68705
1,4,3,2.0,509,341,2001.0,8200,Canning Bridge Station,2000,6152,-32.018620,115.858900,AQUINAS COLLEGE,0.882405,23.00000
2,4,3,2.0,725,251,1982.0,10500,Bull Creek Station,2700,6154,-32.042090,115.826290,APPLECROSS SENIOR HIGH SCHOOL,1.639635,34.00000
3,3,2,2.0,401,169,2009.0,24100,Joondalup Station,3500,6065,-31.740480,115.804078,WANNEROO SECONDARY COLLEGE,2.199511,131.00000
4,3,1,1.0,474,107,1993.0,43600,Warnbro Station,1100,6169,-32.335790,115.765140,WARNBRO COMMUNITY HIGH SCHOOL,1.227092,72.68705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15141,3,1,2.0,801,108,1996.0,10800,Warwick Station,3900,6061,-31.857800,115.834370,BALGA SENIOR HIGH SCHOOL,1.352896,72.68705
15142,4,2,2.0,530,158,1998.0,13100,Thornlie Station,854,6147,-32.039400,115.951670,COMMUNICARE ACADEMY,1.526169,72.68705
15143,3,2,2.0,1072,148,1950.0,14700,Warwick Station,3800,6020,-31.852980,115.757010,CARINE SENIOR HIGH SCHOOL,1.779797,47.00000
15144,5,3,2.0,19996,396,1990.0,24900,Midland Station,10200,6071,-31.878930,116.107640,HELENA COLLEGE,3.523922,78.00000
15145,3,1,1.0,5823,109,1990.0,27400,Armadale Station,688,6112,-32.158325,116.018269,ARMADALE SENIOR HIGH SCHOOL,0.512639,72.68705

In [38]:
del_home_df

,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.00000
1,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,72.68705
2,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.00000
3,2,1,2.0,425,185,1938.0,3500,Leederville Station,1500,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.00000
4,3,2,2.0,546,186,2004.0,12900,North Fremantle Station,800,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,4,2,2.0,533,198,2007.0,21200,Edgewater Station,4400,6065,-31.764187,115.824151,WANNEROO SECONDARY COLLEGE,1.104533,131.00000
18506,3,2,2.0,344,237,2010.0,22100,Kelmscott Station,1900,6111,-32.114990,115.992834,JOHN WOLLASTON ANGLICAN COMMUNITY SCHOOL,1.816768,40.00000
18507,3,1,1.0,1016,110,1953.0,8900,Bassendean Station,3100,6104,-31.931320,115.950060,CYRIL JACKSON SENIOR CAMPUS,2.169696,72.68705
18508,4,2,2.0,718,176,1988.0,14600,Murdoch Station,5400,6163,-32.070861,115.793834,SETON CATHOLIC COLLEGE,0.208669,91.00000
18509,4,1,2.0,1030,109,1987.0,11600,Warwick Station,6400,6064,-31.848240,115.864000,MERCY COLLEGE,0.618862,46.00000

In [39]:
data_dummies1 = pd.get_dummies(del_home_df['NEAREST_STN'])

data_test_dummies1 = pd.get_dummies(del_home_test_df['NEAREST_STN'])
data_test_dummies1

,Armadale Station,Ashfield Station,Bassendean Station,Bayswater Station,Beckenham Station,Belmont Park Station,Bull Creek Station,Burswood Station,Butler Station,Canning,...,Swanbourne Station,Thornlie Station,Vic,Warnbro Station,Warwick Station,Wellard Station,Welshpool Station,West Leederville Station,Whitfords Station,Woodbridge Station
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15141,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15142,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
15143,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15144,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15145,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
data_dummies1

,Armadale Station,Ashfield Station,Bassendean Station,Bayswater Station,Beckenham Station,Belmont Park Station,Bull Creek Station,Burswood Station,Butler Station,Canning,...,Swanbourne Station,Thornlie Station,Vic,Warnbro Station,Warwick Station,Wellard Station,Welshpool Station,West Leederville Station,Whitfords Station,Woodbridge Station
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18506,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18507,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18508,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18509,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [41]:
data_dummies3 = pd.get_dummies(del_home_df['NEAREST_SCH'])
data_dummies3

data_test_dummies3 = pd.get_dummies(del_home_test_df['NEAREST_SCH'])
data_test_dummies3

,ALKIMOS BAPTIST COLLEGE,ALL SAINTS' COLLEGE,ALTA-1,APPLECROSS SENIOR HIGH SCHOOL,AQUINAS COLLEGE,ARANMORE CATHOLIC COLLEGE,ARMADALE SENIOR HIGH SCHOOL,ASHDALE SECONDARY COLLEGE,ATWELL COLLEGE,AUSTRALIAN ISLAMIC COLLEGE - KEWDALE,...,TRINITY COLLEGE,URSULA FRAYNE CATHOLIC COLLEGE,WANNEROO SECONDARY COLLEGE,WARNBRO COMMUNITY HIGH SCHOOL,WARWICK SENIOR HIGH SCHOOL,WESLEY COLLEGE,WILLETTON SENIOR HIGH SCHOOL,WOODVALE SECONDARY COLLEGE,YANCHEP SECONDARY COLLEGE,YOUTH FUTURES COMMUNITY SCHOOL
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15141,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15142,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15143,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15144,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15145,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
del_train_df = del_home_df.drop(['NEAREST_SCH', 'NEAREST_STN'], axis=1)
del_train_df

del_train_test_df = del_home_test_df.drop(['NEAREST_SCH', 'NEAREST_STN'], axis=1)
del_train_test_df

,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,3,2,3.0,2199,159,1950.0,29600,15600,6073,-31.899705,116.166117,1.341198,72.68705
1,4,3,2.0,509,341,2001.0,8200,2000,6152,-32.018620,115.858900,0.882405,23.00000
2,4,3,2.0,725,251,1982.0,10500,2700,6154,-32.042090,115.826290,1.639635,34.00000
3,3,2,2.0,401,169,2009.0,24100,3500,6065,-31.740480,115.804078,2.199511,131.00000
4,3,1,1.0,474,107,1993.0,43600,1100,6169,-32.335790,115.765140,1.227092,72.68705
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15141,3,1,2.0,801,108,1996.0,10800,3900,6061,-31.857800,115.834370,1.352896,72.68705
15142,4,2,2.0,530,158,1998.0,13100,854,6147,-32.039400,115.951670,1.526169,72.68705
15143,3,2,2.0,1072,148,1950.0,14700,3800,6020,-31.852980,115.757010,1.779797,47.00000
15144,5,3,2.0,19996,396,1990.0,24900,10200,6071,-31.878930,116.107640,3.523922,78.00000
15145,3,1,1.0,5823,109,1990.0,27400,688,6112,-32.158325,116.018269,0.512639,72.68705

In [43]:
del_train_df

,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,5,2,4.0,674,266,2007.0,35500,3000,6030,-31.656206,115.720566,1.079230,120.00000
1,5,4,2.0,540,301,2014.0,16900,8100,6065,-31.800802,115.867675,0.667585,72.68705
2,4,2,2.0,781,220,1992.0,33500,3500,6030,-31.682040,115.702600,0.650761,111.00000
3,2,1,2.0,425,185,1938.0,3500,1500,6016,-31.926046,115.838181,0.484465,106.00000
4,3,2,2.0,546,186,2004.0,12900,800,6159,-32.032079,115.759626,1.869050,25.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,4,2,2.0,533,198,2007.0,21200,4400,6065,-31.764187,115.824151,1.104533,131.00000
18506,3,2,2.0,344,237,2010.0,22100,1900,6111,-32.114990,115.992834,1.816768,40.00000
18507,3,1,1.0,1016,110,1953.0,8900,3100,6104,-31.931320,115.950060,2.169696,72.68705
18508,4,2,2.0,718,176,1988.0,14600,5400,6163,-32.070861,115.793834,0.208669,91.00000
18509,4,1,2.0,1030,109,1987.0,11600,6400,6064,-31.848240,115.864000,0.618862,46.00000

In [44]:
del_train_test_df

,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,3,2,3.0,2199,159,1950.0,29600,15600,6073,-31.899705,116.166117,1.341198,72.68705
1,4,3,2.0,509,341,2001.0,8200,2000,6152,-32.018620,115.858900,0.882405,23.00000
2,4,3,2.0,725,251,1982.0,10500,2700,6154,-32.042090,115.826290,1.639635,34.00000
3,3,2,2.0,401,169,2009.0,24100,3500,6065,-31.740480,115.804078,2.199511,131.00000
4,3,1,1.0,474,107,1993.0,43600,1100,6169,-32.335790,115.765140,1.227092,72.68705
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15141,3,1,2.0,801,108,1996.0,10800,3900,6061,-31.857800,115.834370,1.352896,72.68705
15142,4,2,2.0,530,158,1998.0,13100,854,6147,-32.039400,115.951670,1.526169,72.68705
15143,3,2,2.0,1072,148,1950.0,14700,3800,6020,-31.852980,115.757010,1.779797,47.00000
15144,5,3,2.0,19996,396,1990.0,24900,10200,6071,-31.878930,116.107640,3.523922,78.00000
15145,3,1,1.0,5823,109,1990.0,27400,688,6112,-32.158325,116.018269,0.512639,72.68705

In [45]:
train_df_fin = pd.concat(
  [del_train_df, data_dummies1, data_dummies3],
  axis=1
)
train_df_fin

train_test_df_fin = pd.concat(
  [del_train_test_df, data_test_dummies1, data_test_dummies3],
  axis=1
)
train_test_df_fin

,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,...,TRINITY COLLEGE,URSULA FRAYNE CATHOLIC COLLEGE,WANNEROO SECONDARY COLLEGE,WARNBRO COMMUNITY HIGH SCHOOL,WARWICK SENIOR HIGH SCHOOL,WESLEY COLLEGE,WILLETTON SENIOR HIGH SCHOOL,WOODVALE SECONDARY COLLEGE,YANCHEP SECONDARY COLLEGE,YOUTH FUTURES COMMUNITY SCHOOL
0,3,2,3.0,2199,159,1950.0,29600,15600,6073,-31.899705,...,0,0,0,0,0,0,0,0,0,0
1,4,3,2.0,509,341,2001.0,8200,2000,6152,-32.018620,...,0,0,0,0,0,0,0,0,0,0
2,4,3,2.0,725,251,1982.0,10500,2700,6154,-32.042090,...,0,0,0,0,0,0,0,0,0,0
3,3,2,2.0,401,169,2009.0,24100,3500,6065,-31.740480,...,0,0,1,0,0,0,0,0,0,0
4,3,1,1.0,474,107,1993.0,43600,1100,6169,-32.335790,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15141,3,1,2.0,801,108,1996.0,10800,3900,6061,-31.857800,...,0,0,0,0,0,0,0,0,0,0
15142,4,2,2.0,530,158,1998.0,13100,854,6147,-32.039400,...,0,0,0,0,0,0,0,0,0,0
15143,3,2,2.0,1072,148,1950.0,14700,3800,6020,-31.852980,...,0,0,0,0,0,0,0,0,0,0
15144,5,3,2.0,19996,396,1990.0,24900,10200,6071,-31.878930,...,0,0,0,0,0,0,0,0,0,0
15145,3,1,1.0,5823,109,1990.0,27400,688,6112,-32.158325,...,0,0,0,0,0,0,0,0,0,0

In [46]:
train_df_fin

,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,...,TRINITY COLLEGE,URSULA FRAYNE CATHOLIC COLLEGE,WANNEROO SECONDARY COLLEGE,WARNBRO COMMUNITY HIGH SCHOOL,WARWICK SENIOR HIGH SCHOOL,WESLEY COLLEGE,WILLETTON SENIOR HIGH SCHOOL,WOODVALE SECONDARY COLLEGE,YANCHEP SECONDARY COLLEGE,YOUTH FUTURES COMMUNITY SCHOOL
0,5,2,4.0,674,266,2007.0,35500,3000,6030,-31.656206,...,0,0,0,0,0,0,0,0,0,0
1,5,4,2.0,540,301,2014.0,16900,8100,6065,-31.800802,...,0,0,0,0,0,0,0,0,0,0
2,4,2,2.0,781,220,1992.0,33500,3500,6030,-31.682040,...,0,0,0,0,0,0,0,0,0,0
3,2,1,2.0,425,185,1938.0,3500,1500,6016,-31.926046,...,0,0,0,0,0,0,0,0,0,0
4,3,2,2.0,546,186,2004.0,12900,800,6159,-32.032079,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,4,2,2.0,533,198,2007.0,21200,4400,6065,-31.764187,...,0,0,1,0,0,0,0,0,0,0
18506,3,2,2.0,344,237,2010.0,22100,1900,6111,-32.114990,...,0,0,0,0,0,0,0,0,0,0
18507,3,1,1.0,1016,110,1953.0,8900,3100,6104,-31.931320,...,0,0,0,0,0,0,0,0,0,0
18508,4,2,2.0,718,176,1988.0,14600,5400,6163,-32.070861,...,0,0,0,0,0,0,0,0,0,0
18509,4,1,2.0,1030,109,1987.0,11600,6400,6064,-31.848240,...,0,0,0,0,0,0,0,0,0,0

In [47]:
train_test_df_fin

,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,...,TRINITY COLLEGE,URSULA FRAYNE CATHOLIC COLLEGE,WANNEROO SECONDARY COLLEGE,WARNBRO COMMUNITY HIGH SCHOOL,WARWICK SENIOR HIGH SCHOOL,WESLEY COLLEGE,WILLETTON SENIOR HIGH SCHOOL,WOODVALE SECONDARY COLLEGE,YANCHEP SECONDARY COLLEGE,YOUTH FUTURES COMMUNITY SCHOOL
0,3,2,3.0,2199,159,1950.0,29600,15600,6073,-31.899705,...,0,0,0,0,0,0,0,0,0,0
1,4,3,2.0,509,341,2001.0,8200,2000,6152,-32.018620,...,0,0,0,0,0,0,0,0,0,0
2,4,3,2.0,725,251,1982.0,10500,2700,6154,-32.042090,...,0,0,0,0,0,0,0,0,0,0
3,3,2,2.0,401,169,2009.0,24100,3500,6065,-31.740480,...,0,0,1,0,0,0,0,0,0,0
4,3,1,1.0,474,107,1993.0,43600,1100,6169,-32.335790,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15141,3,1,2.0,801,108,1996.0,10800,3900,6061,-31.857800,...,0,0,0,0,0,0,0,0,0,0
15142,4,2,2.0,530,158,1998.0,13100,854,6147,-32.039400,...,0,0,0,0,0,0,0,0,0,0
15143,3,2,2.0,1072,148,1950.0,14700,3800,6020,-31.852980,...,0,0,0,0,0,0,0,0,0,0
15144,5,3,2.0,19996,396,1990.0,24900,10200,6071,-31.878930,...,0,0,0,0,0,0,0,0,0,0
15145,3,1,1.0,5823,109,1990.0,27400,688,6112,-32.158325,...,0,0,0,0,0,0,0,0,0,0

In [48]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train_df_fin, target_df, random_state=42)

In [49]:
# Ridge Regression 모델
from sklearn.linear_model import Lasso

model = Lasso(alpha=1.0) # 하이퍼 파라미터
model.fit(X_train, y_train)

score = model.score(X_test, y_test)

score

# Ridge - 0.7177774451781911

c:\Users\han12\OneDrive\Desktop\AIschool\Python\AI_Source\venv\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.298e+14, tolerance: 1.724e+11
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

0.7173882157746281

In [50]:
score_fin = model.predict(train_test_df_fin)

score_fin

c:\Users\han12\OneDrive\Desktop\AIschool\Python\AI_Source\venv\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- SOUTH METROPOLITAN YOUTH LINK COMMUNITY COLLEGE
Feature names seen at fit time, yet now missing:
- FAIRBRIDGE COLLEGE

  warnings.warn(message, FutureWarning)

array([ 393510.35347551, 1467036.25355968, 1183546.13599893, ...,
        883443.50190771,  932892.9737899 ,  282922.16030219])

In [51]:
home_submit_df = pd.read_csv('./sample_submission.csv')

home_submit_df['PRICE'] = score_fin

home_submit_df.to_csv('model06_REG_Lasso_71.csv', index=False)