In [1]:
# 모르겠어서 문자 다 빼고 숫자로만 해보려고 다시 불러옴
import pandas as pd

df2 = pd.read_csv('C:/Users/USER/Desktop/regression220926/train.csv')
df2.head()

,ID,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,0,9 Crumlin Way,Ridgewood,520000,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0
1,1,37 Sissinghurst Crescent,Landsdale,575000,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN
2,2,24 Tees Court,Mindarie,760000,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.0
3,3,31 Brentham Street,Mount Hawthorn,1230000,2,1,2.0,425,185,1938.0,3500,Leederville Station,1500,07-2020\r,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.0
4,4,46/1 Corkhill Street,North Fremantle,2010000,3,2,2.0,546,186,2004.0,12900,North Fremantle Station,800,10-2017\r,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.0

In [2]:
df2.drop(['ID','ADDRESS','SUBURB','NEAREST_STN','DATE_SOLD','NEAREST_SCH'],axis=1,inplace=True)
df2.head()

,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,520000,5,2,4.0,674,266,2007.0,35500,3000,6030,-31.656206,115.720566,1.079230,120.0
1,575000,5,4,2.0,540,301,2014.0,16900,8100,6065,-31.800802,115.867675,0.667585,NaN
2,760000,4,2,2.0,781,220,1992.0,33500,3500,6030,-31.682040,115.702600,0.650761,111.0
3,1230000,2,1,2.0,425,185,1938.0,3500,1500,6016,-31.926046,115.838181,0.484465,106.0
4,2010000,3,2,2.0,546,186,2004.0,12900,800,6159,-32.032079,115.759626,1.869050,25.0

In [3]:
df2.isnull().sum()

PRICE                  0
BEDROOMS               0
BATHROOMS              0
GARAGE              1367
LAND_AREA              0
FLOOR_AREA             0
BUILD_YEAR          1728
CBD_DIST               0
NEAREST_STN_DIST       0
POSTCODE               0
LATITUDE               0
LONGITUDE              0
NEAREST_SCH_DIST       0
NEAREST_SCH_RANK    6000
dtype: int64

In [4]:
df2.drop(['NEAREST_SCH_RANK'],axis=1,inplace=True)
df2['GARAGE'].fillna(df2['GARAGE'].mean(), inplace=True)

In [6]:
df2.dropna(inplace=True)

In [7]:
df2.shape

(16782, 13)

In [8]:
df2.isnull().sum()

PRICE               0
BEDROOMS            0
BATHROOMS           0
GARAGE              0
LAND_AREA           0
FLOOR_AREA          0
BUILD_YEAR          0
CBD_DIST            0
NEAREST_STN_DIST    0
POSTCODE            0
LATITUDE            0
LONGITUDE           0
NEAREST_SCH_DIST    0
dtype: int64

In [9]:
df2.head()

,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST
0,520000,5,2,4.0,674,266,2007.0,35500,3000,6030,-31.656206,115.720566,1.079230
1,575000,5,4,2.0,540,301,2014.0,16900,8100,6065,-31.800802,115.867675,0.667585
2,760000,4,2,2.0,781,220,1992.0,33500,3500,6030,-31.682040,115.702600,0.650761
3,1230000,2,1,2.0,425,185,1938.0,3500,1500,6016,-31.926046,115.838181,0.484465
4,2010000,3,2,2.0,546,186,2004.0,12900,800,6159,-32.032079,115.759626,1.869050

In [10]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(df2.iloc[:,1:],df2['PRICE'], random_state=5)

In [11]:
# minmax scaling
from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.fit_transform(x_test)

In [12]:
# 다중회귀
import statsmodels.formula.api as smf

formula = "PRICE~"+"+".join(df2.iloc[:,1:].columns)

model=smf.ols(formula=formula, data=df2).fit()
model.summary()

# 수치 데이터만 넣었을 때 결정계수는 0.578

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  PRICE   R-squared:                       0.578
Model:                            OLS   Adj. R-squared:                  0.578
Method:                 Least Squares   F-statistic:                     1916.
Date:                Wed, 12 Oct 2022   Prob (F-statistic):               0.00
Time:                        17:18:14   Log-Likelihood:            -2.3098e+05
No. Observations:               16782   AIC:                         4.620e+05
Df Residuals:                   16769   BIC:                         4.621e+05
Df Model:                          12
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept         1.143e+08   2.21e+06     51.739      0.000     1.1e+08    1.19e+08
BEDROOMS         -8669.8444   3059.629     -2.834      0.005   -1.47e+04   -2672.650
BATHROOMS         1.145e+05   4154.608     27.550      0.000    1.06e+05    1.23e+05
GARAGE            8865.7717   1316.853      6.733      0.000    6284.600    1.14e+04
LAND_AREA            0.8732      0.092      9.485      0.000       0.693       1.054
FLOOR_AREA        2259.4655     32.171     70.232      0.000    2196.406    2322.525
BUILD_YEAR       -3888.8373     94.376    -41.206      0.000   -4073.824   -3703.850
CBD_DIST           -14.4515      0.209    -69.237      0.000     -14.861     -14.042
NEAREST_STN_DIST    15.8669      0.648     24.499      0.000      14.597      17.136
POSTCODE          -782.7870     40.303    -19.422      0.000    -861.786    -703.789
LATITUDE         -3.798e+05   1.41e+04    -26.892      0.000   -4.08e+05   -3.52e+05
LONGITUDE        -9.816e+05   1.96e+04    -50.172      0.000   -1.02e+06   -9.43e+05
NEAREST_SCH_DIST  1.694e+04   1345.124     12.590      0.000    1.43e+04    1.96e+04
==============================================================================
Omnibus:                     4224.484   Durbin-Watson:                   1.956
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            26039.809
Skew:                           1.066   Prob(JB):                         0.00
Kurtosis:                       8.718   Cond. No.                     3.07e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.07e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [13]:
df2.corr()

,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST
PRICE,1.000000,0.259703,0.389231,0.115083,0.043966,0.544844,-0.148771,-0.362101,-0.099753,-0.167700,0.053819,-0.188709,-0.021936
BEDROOMS,0.259703,1.000000,0.561434,0.168588,0.048565,0.538512,0.234275,0.117879,0.106130,0.016191,0.029040,-0.014539,0.092802
BATHROOMS,0.389231,0.561434,1.000000,0.170029,0.030240,0.563755,0.345848,0.026370,0.041449,-0.036439,0.054908,-0.092750,0.058054
GARAGE,0.115083,0.168588,0.170029,1.000000,0.035748,0.172976,0.042995,0.038194,0.093467,0.019026,-0.006379,0.079367,0.080274
LAND_AREA,0.043966,0.048565,0.030240,0.035748,1.000000,0.061169,0.009614,0.107993,0.189765,0.029991,0.001554,0.122265,0.232918
FLOOR_AREA,0.544844,0.538512,0.563755,0.172976,0.061169,1.000000,0.230423,0.016524,0.106651,-0.048567,0.049142,-0.042088,0.116346
BUILD_YEAR,-0.148771,0.234275,0.345848,0.042995,0.009614,0.230423,1.000000,0.258332,0.090911,0.038833,0.045702,-0.063877,0.096881
CBD_DIST,-0.362101,0.117879,0.026370,0.038194,0.107993,0.016524,0.258332,1.000000,0.443004,0.248626,-0.197620,-0.059309,0.367688
NEAREST_STN_DIST,-0.099753,0.106130,0.041449,0.093467,0.189765,0.106651,0.090911,0.443004,1.000000,0.188903,0.026796,0.495814,0.621080
POSTCODE,-0.167700,0.016191,-0.036439,0.019026,0.029991,-0.048567,0.038833,0.248626,0.188903,1.000000,-0.657027,0.165016,0.117104
LATITUDE,0.053819,0.029040,0.054908,-0.006379,0.001554,0.049142,0.045702,-0.197620,0.026796,-0.657027,1.000000,-0.114789,-0.004497
LONGITUDE,-0.188709,-0.014539,-0.092750,0.079367,0.122265,-0.042088,-0.063877,-0.059309,0.495814,0.165016,-0.114789,1.000000,0.300675
NEAREST_SCH_DIST,-0.021936,0.092802,0.058054,0.080274,0.232918,0.116346,0.096881,0.367688,0.621080,0.117104,-0.004497,0.300675,1.000000

In [14]:
from patsy import dmatrices

formula = "PRICE~"+"+".join(df2.iloc[:,1:].columns)

y,x=dmatrices(formula,df2,return_type="dataframe")

In [15]:
y

           PRICE
0       520000.0
1       575000.0
2       760000.0
3      1230000.0
4      2010000.0
...          ...
18505   475000.0
18506   485000.0
18507   642000.0
18508   491000.0
18509   490000.0

[16782 rows x 1 columns]

In [16]:
x

,Intercept,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST
0,1.0,5.0,2.0,4.0,674.0,266.0,2007.0,35500.0,3000.0,6030.0,-31.656206,115.720566,1.079230
1,1.0,5.0,4.0,2.0,540.0,301.0,2014.0,16900.0,8100.0,6065.0,-31.800802,115.867675,0.667585
2,1.0,4.0,2.0,2.0,781.0,220.0,1992.0,33500.0,3500.0,6030.0,-31.682040,115.702600,0.650761
3,1.0,2.0,1.0,2.0,425.0,185.0,1938.0,3500.0,1500.0,6016.0,-31.926046,115.838181,0.484465
4,1.0,3.0,2.0,2.0,546.0,186.0,2004.0,12900.0,800.0,6159.0,-32.032079,115.759626,1.869050
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,1.0,4.0,2.0,2.0,533.0,198.0,2007.0,21200.0,4400.0,6065.0,-31.764187,115.824151,1.104533
18506,1.0,3.0,2.0,2.0,344.0,237.0,2010.0,22100.0,1900.0,6111.0,-32.114990,115.992834,1.816768
18507,1.0,3.0,1.0,1.0,1016.0,110.0,1953.0,8900.0,3100.0,6104.0,-31.931320,115.950060,2.169696
18508,1.0,4.0,2.0,2.0,718.0,176.0,1988.0,14600.0,5400.0,6163.0,-32.070861,115.793834,0.208669
18509,1.0,4.0,1.0,2.0,1030.0,109.0,1987.0,11600.0,6400.0,6064.0,-31.848240,115.864000,0.618862

In [17]:
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif=pd.DataFrame()
vif['VIF Factor'] = [variance_inflation_factor(x.values, i) for i in range(x.shape[1])]
vif["features"] = x.columns
vif

# vif도 5를 넘어가는 feature가 없음

      VIF Factor          features
0   1.550999e+06         Intercept
1   1.677092e+00          BEDROOMS
2   1.844676e+00         BATHROOMS
3   1.055079e+00            GARAGE
4   1.065656e+00         LAND_AREA
5   1.697912e+00        FLOOR_AREA
6   1.248278e+00        BUILD_YEAR
7   1.767251e+00          CBD_DIST
8   2.641690e+00  NEAREST_STN_DIST
9   1.927911e+00          POSTCODE
10  1.991918e+00          LATITUDE
11  1.683612e+00         LONGITUDE
12  1.705974e+00  NEAREST_SCH_DIST